{begin_form}
<input type="hidden" value="{from}"  name="from" />
<div class="folder-content">
	<h2>TẠO & SỬA TIN</h2>
	<div class="line top"></div><div class="clear"></div>
	<!--begin table data-->
	<div class="table">
		<ul>
			<li>
				<label>Tiêu đề bài viết</label>
				<input  type="text" style="width:520px;" name="title" value="{title}" id="title" maxlength="255" />
				<span id="check_unique"></span>
				<font color="#999999">Tiêu đề bài viết không quá 255 kí tự</font>
			</li>
			<li id="cat">
				<label>Chọn danh mục chính</label>
				<select name="data[cate_id1][]" id="cate1" multiple="multiple" style="height:100px;">
					<option value="0">Chọn danh mục cấp 1</option>
					{option_cate1}
				</select>
				{option_cate2}
				{option_cate3}
				{option_cate4}
			</li>
			<li id="cat_1">
				<label>Chọn danh mục phụ</label>
				<select name="cate_second_1" id="cate_second_1" onchange="loadCategory();">
					<option value="0">Chọn danh mục cấp 1</option>
					{option_cate11}
				</select>
				<select name="cate_second_level1" id="cate_second_level1">
					<option value="0">Chọn danh mục cấp 2</option>
					{option_cate12}
				</select>
			</li>	
			<li>
				<label style="display:block; float:left">Ảnh đại diện</label>
				<table style="border:none;float:left">
					<tr>
						<td style="border:0px;">
							{img1}
							<br>
							<input type="file"  name="img1" id="img1"/>&nbsp;<font color="#999999">(Ảnh hình chữ nhật ngang 495x330px)</font>
						</td>
					</tr>
					<tr>
						<td style="border:0px;">
							{img3}
							<br>
							<input type="file"  name="img3" id="img3"/>&nbsp;<font color="#999999">(Ảnh hình chữ nhật đứng 275x185px)</font>
						</td>
					</tr>
				</table>
			</li>
			<li style="clear:both;">
				<label>Trích dẫn</label>
				<textarea cols="96" rows="5" name="description" id="description" maxlength="255" onkeypress="copyText('description','description_seo')" onkeydown="copyText('description','description_seo')" onkeyup="copyText('description','description_seo')">{description}</textarea>&nbsp;<span id="max_len" style="color:#990000">Tối đa 255 kí tự</span>
			</li>
			<li>
				<label>Tag bài viết</label>
				<input  type="text" style="width:520px;" name="tag" id="tag" value="{tag}"/>&nbsp;<font color="#999999">(Không quá 150 kí tự)</font>
			</li>
			<li>
				<label>Tìm bài liên quan</label>
				<input  type="text" style="width:450px;" name="keyword" id="keyword" value=""/>&nbsp;&nbsp;<input type="text" name="Tìm kiếm" value="Tìm kiếm" class="button" style="width:50px;" onclick="searchRelate();"/>
				<label id="report"></label>
				<ul id="result_relate">
					{text_relate}
				</ul>			
			</li>
			<!--li>
				<label>Bình luận</label>
				<a href="ajax.php?path=news&fnc=list_poll" class="thickbox">Chọn poll</a> | <a href="?portal=news&page=admin_poll" target="_blank">Tạo poll</a>
				<input  type="hidden" id="poll" name="poll" value="{poll}"/>				
			</li-->
			<li>
				<label>Tác giả</label>
				<input  type="text" style="width:200px;" name="author" id="author" value="{author}"/>
			</li>
			<li>
				<label>Nguồn</label>
				<input  type="text" style="width:200px;" name="origin" id="origin" value="{origin}"/>
			</li>
			<li>
				<label>File (video,doc..)</label>
				<input  type="text" style="width:200px;" name="file" id="file" value="{file}"/>
			</li>
			<li>
				<label>Chọn nhiều ảnh</label>
				<input type="button"  value="Duyệt ảnh" name="add_edit" class="button" onclick="open_KCFinderMulti()" />
				
			</li>
			<li>
				<label>Nội dung bài viết</label>
				<textarea  class="ckeditor" name="content" id="content">{content}</textarea>
			</li>
			<li>
				<label></label>
				<input  type="checkbox" value="1" name="is_video" {is_video}/>&nbsp;Tin video
				&nbsp;
				<input  type="checkbox" value="1" name="is_img" {is_img}/> &nbsp;Tin ảnh
			</li>
			<li>
				<label></label>
				{type_post}
			</li>
			<li>
				<label></label>
				Đặt lịch xuất bản bài
				<input name="minutes" id="minutes" type="text" size="4" onblur="if (this.value == '') {this.value = '00';}" onfocus="if (this.value == '00') {this.value = '';}" value="{minutes}" />
				<select id="hour_public" name="hour_public">
					<option value="Chọn giờ">Chọn giờ</option>
					{option_hour}
				</select>
				&nbsp;
				<input  type="text" class="date-pick dp-applied" style="width:80px;" id="date_public"  name="date_public" value="{date_public}"/>
			</li>
			
			<li>
				<label>&nbsp;</label>
				Đang làm ?<input  type="checkbox" value="2" name="status" checked="checked"  />&nbsp;&nbsp;
				Đóng logo?<input  type="checkbox" value="1" name="add_logo" />&nbsp;
				<input type="submit"  value="Lưu trữ" name="add_edit" class="button"/>
			</li>
		</ul>
	</div>
</div>
<input  type="hidden" value="{news_id}" name="news_id" />
{end_form}
<script type="text/javascript">
function loadCategory()
{
	var cate_id_1=$("#cate_second_1 option:selected").val();
	if(cate_id_1==0) return false;
	$.post("ajax.php?fnc=admin.news.process&path=news",
		{'action':'load-category-map','cate_id': $("#cate_second_1 option:selected").val()},
		function(data)
		{
			$("#cate_second_level1").html(data);
		}			
	)
		
}
function setRelate(obj,id){
	
	if(obj.checked){
		$("#"+id).removeClass('no-choose').addClass("choose");
	}
	else{
		$("#"+id).removeClass('choose').addClass("no-choose");
	}
}
function searchRelate()
{
	if($("#keyword").val()=="" || $("#keyword").val()==null)
	{
		alert("Bạn chưa nhập từ khóa");
		return false;
	}
	$(".no-choose").hide();
	$("#report").html(' Đang tải dữ liệu');
	$.post("ajax.php?fnc=admin.news.process&path=news",
		{'action':'search_relate','keyword':$("#keyword").val()},
		function(data)
		{
			$("#report").html("");
			$("#result_relate").append(data);
		}			
	)	
}

function copyText(field_root,field_copy)
{
	var text_root=$("#"+field_root).val();
	$("#"+field_copy).val(text_root);
}
$(document).ready(function(){
	
	$("#title").blur(function(){
		$.ajax({
            url: 'ajax.php?path=news&fnc=check_unique',
            type:'post',
            dataType:'json',
            data:{title:$("#title").val()},
            success:function(data)
            {
            	if(data.code == 0)
            	{
            		alert("Bài viết đã có người khác tạo rồi.");            		
            	}
            },
            timeout:function(){}
        });
		
	});
	
	$('textarea[maxlength]').keyup(function(){
	        var max = parseInt($(this).attr('maxlength'));
	        if($(this).val().length > max){
	            $(this).val($(this).val().substr(0, $(this).attr('maxlength')));
	        }
        	$("#max_len").html(' Còn ' + (max - $(this).val().length) + ' kí tự');
	    });
	});
function checkForm()
{
	
	if($("#title").val()=='' || $("#title").val()==null)
	{
		alert("Bạn phải nhập tiêu đề");
		$("#title").focus();
		return false;
	}

	if($("#cate1").val() == null || $("#cate1 option:selected").val() == 0)
	{
		alert("Bạn phải chọn danh mục cấp 1");
		$("#cate1").focus();
		return false;
	}

		if($("#cate2 option").size() > 0)
		{
			if($("#cate2").val() == null || $("#cate2 option:selected").val() == 0)
			{
				alert("Bạn phải chọn danh mục cấp 2");
				$("#cate2").focus();
				return false;
			}
		}		

	
	if($("#description").val()=='' || $("#description").val()==null)
	{
		alert("Bạn phải nhập trích dẫn");
		$("#description").focus();
		return false;
	}
	return true;
}
$("#cate1").live('change', function(e){   		
   		var cate_id='';   
		$("#cate1 option:selected").each(function () {
                cate_id += ','+$(this).val();
        });
 		cate_id=cate_id.substr(1);
   		$.ajax({
	            url: 'ajax.php?path=news&fnc=change_category_multi&id='+cate_id+"&level=1",
	            type:'GET',
	            dataType:'json',            
	            success:function(data)
	            {
	            	if(data.code == 1)
	            	{
	            		if(data.html != "")
	            			$("#cate2").html(data.html);
	            	    else
	            	        $("#cate2").html("");
	            		
            			$("#cate3").remove();
            			$("#cate4").remove();
            			$("#cate5").remove();
	            		
	            	}
	            },
	            timeout:function(){}
	        });
   });
   $("#cate2").live('change', function(e){
   		var cate_id='';   
		$("#cate2 option:selected").each(function () {
                cate_id += ','+$(this).val();
        });
 		cate_id=cate_id.substr(1); 
		//alert(cate_id);
   		$.ajax({
	            url: 'ajax.php?path=news&fnc=change_category_multi&id='+cate_id+"&level=2"+($("#cate3").length > 0 ? "" : "&cmd=1"),
	            type:'GET',
	            dataType:'json',            
	            success:function(data)
	            {
					if (data.code == 1) {
						if (data.html != "") {
							if ($("#cate3").length > 0) 
								$("#cate3").html(data.html);
							else 
								$("#cat").append(data.html);
						}
						else{
							$("#cate3").remove();
							$("#cate4").remove();
							$("#cate5").remove();
						}
					}
	            },
	            timeout:function(){}
	        });
   });
   $("#cate3").live('change', function(e){
   		var cate_id='';   
		$("#cate3 option:selected").each(function () {
                cate_id += ','+$(this).val();
        });
 		cate_id=cate_id.substr(1); 	   		
   		$.ajax({
	            url: 'ajax.php?path=news&fnc=change_category_multi&id='+cate_id+"&level=3"+($("#cate4").length > 0 ? "" : "&cmd=1"),
	            type:'GET',
	            dataType:'json',            
	            success:function(data)
	            {
	            	if(data.code == 1 && data.html != "")
	            		$("#cate4").html(data.html);
	            	else
	            		$("#cate4").remove();	            		
	            	$("#cate5").remove();
	            	
	            },
	            timeout:function(){}
	        });
   });
   $(".choice_poll").live("click",function(){		
		$("#poll").val($(this).val()); 
	 });
   $("#cate4").live('change', function(e){
   		var cate_id='';   
		$("#cate4 option:selected").each(function () {
                cate_id += ','+$(this).val();
        });
 		cate_id=cate_id.substr(1); 	   		
   		$.ajax({
	            url: 'ajax.php?path=news&fnc=change_category_multi&id='+cate_id+"&level=4"+($("#cate5").length > 0 ? "" : "&cmd=1"),
	            type:'GET',
	            dataType:'json',            
	            success:function(data)
	            {
	            	if(data.code == 1 && data.html != "")
	            		$("#cate5").html(data.html);
	            	else           		
	            		$("#cate5").remove();
	            },
	            timeout:function(){}
	        });
   });
  
 
</script>